# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=3d29503c57cb6982207365fe23f17897
# Create a GitHub OAuth app here: https://github.com/settings/applications/new
# For info on authorization callback URL visit here: https://authjs.dev/reference/core/providers_github#callback-url
AUTH_GITHUB_ID=2bfa383362eb5deb390b
AUTH_GITHUB_SECRET=ad9f69578a919f327bc2d8d4e3973bb86630b25f
# Support OAuth login on preview deployments, see: https://authjs.dev/guides/basics/deployment#securing-a-preview-deployment
# Set the following only when deployed. In this example, we can reuse the same OAuth app, but if you are storing users, we recommend using a different OAuth app for development/production so that you don't mix your test and production user base.
# AUTH_REDIRECT_PROXY_URL=https://YOURAPP.vercel.app/api/auth

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL=redis://default:74a12e27757045038773416a01384db1@sure-mutt-39665.upstash.io:39665
KV_REST_API_URL=https://sure-mutt-39665.upstash.io
KV_REST_API_TOKEN=AZrxASQgY2QxMDAyNTctZjk5OS00OGY4LThhNDgtNjFmZTNhOWE3NDU0NzRhMTJlMjc3NTcwNDUwMzg3NzM0MTZhMDEzODRkYjE=
KV_REST_API_READ_ONLY_TOKEN=AprxASQgY2QxMDAyNTctZjk5OS00OGY4LThhNDgtNjFmZTNhOWE3NDU0OpVLlAAHt2Bf8CwYJ9cMCJ2DvZ-LWOshgH-6GbFKCjg=

